################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Garry Assessment/v17
/ats-maintenance-tracker-group2/ats-maintenance-tracker-group2/.vs
/ats-maintenance-tracker-group2/.vs/ats-maintenance-tracker-group2
/ats-maintenance-tracker-group2/packages
