/* Overall App Styling */
.app {
   width: 100vw;
   height: 100svh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   user-select: none;
}

.app .content {
   height: calc(100svh - 9vh);
   background: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   overflow-x: hidden;
}

.app .content .content-wrapper {
   width: 100%;
   padding: 15px;
   max-width: 1200px;
   height: 100%;
}

/* App Wrapper */
.account-bar-wrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px 10px;
   border-bottom: 1px solid #e2e2e2;
}

.account-bar-wrapper .account-bar {
   width: 100%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.account-bar-wrapper .account-bar .app-icon {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}

.account-bar-wrapper .account-bar .app-icon .app-icon-clickable {
   width: fit-content;
   height: 100%;
   cursor: pointer;
}

.account-bar-wrapper .account-bar .account-image {
   width: fit-content;
   height: 100%;
   cursor: pointer;
}

/* Icon Styles */
.icon {
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   -webkit-user-drag: none;
}

.icon.round > img { border-radius: 100% !important; }

/* Card Styles */
.card {
   width: 100%;
   background-color: white;
   border-radius: 15px;
   border: 1px solid #ececec;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.loading-card {
   background-color: #e0e0e0;
   border-radius: 10px;
   animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
   0% {
      background-color: #e0e0e0;
   }
   50% {
      background-color: #f0f0f0;
   }
   100% {
      background-color: #e0e0e0;
   }
}

/* Table Styles */
.table-container {
   overflow-x: auto;
}

.custom-table {
   width: max-content;
   min-width: 100%;
   border-collapse: collapse;
   background-color: #fff;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
   table-layout: auto;
}

.custom-table th,
.custom-table td {
   padding: 12px;
   text-align: left;
   width: fit-content;
   max-width: 200px;
}

.custom-table th {
   padding: 5px 12px;
   text-transform: uppercase;
   font-size: 0.85rem;
   color: #8d8d8d;
   font-weight: 500;
}
.custom-table tr:not(:last-child) { border-bottom: 1px solid #eee; }

.custom-table th:hover { cursor: default; }
.custom-table tr:hover { cursor: default; }

.custom-table thead {
   background-color: #fff;
   font-size: 1rem;
}

.custom-table tr:not(#head-row):hover {
   background-color: #f8f8f8;
}

.link-display { cursor: pointer; word-break: break-all; }
.link-display:hover { text-decoration: underline; }

.custom-table .table-nowrap { white-space: nowrap; }
.custom-table .table-description { max-width: 650px; }

/* Selections Styles */
.selections {
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 5px;
}

.selections .selection {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.6rem;
   padding: 8px 12px;
   cursor: pointer;
   background-color: white;
   color: black;
   border: 1px solid #ececec;
   border-radius: 8px;
   white-space: nowrap;
}

.selections .selection.selected {
   background-color: #1131ff;
   color: white;
}

/* Modal Styles */
.modal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   display: none;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
   background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-box {
   width: 100%;
   max-width: 500px;
   height: fit-content;
   max-height: 90vh;
   background-color: white;
   padding: 25px;
   border: 1px solid #efefef;
   border-radius: 15px;
   position: relative;
   line-height: 1.8rem;
   overflow-y: scroll;
   overflow-x: hidden;
   user-select: none;
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.098);
}

.modal .modal-box .modal-close {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: #e4e4e4;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   color: black;
   cursor: pointer;
   padding: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.098);
}

.navigation-card {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ececec;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.094);
    padding: 20px;
    scale: 1;
    cursor: pointer;
}
.navigation-card:active { scale: 0.95; }

.navigation-card .navigation-card-icon {
    aspect-ratio: 1;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px;
    display: flex;
    margin-bottom: 5px;
}

.engineer-shift-card {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ececec;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.094);
    background: #FAFAFA;
}

.little-divider {
    width: 100%;
    height: 1px;
    background: #ccc;
}