@{
    ViewBag.Title = "Home Page";
}


<div class="text-xxl full pd-1">Hello <i data-lucide="menu"></i></div>

<br>

<div class="box full dfb align-center gap-10">
    <div class="box fit dfb align-center gap-10">
        <div class="text-xxs visible-link">Dashboard</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap visible-link">Engineer</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap bold-600 accent-color">Dummy Engineer</div>
        <!-- <div class="text-xxs">/</div> -->
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <button class="xxs pd-12 pdx-2" onclick="showModal()">Click Me</button>
    <button class="xxs pd-12 pdx-2 delete" onclick="showFailedModal('Failed to create fault job.')">Click Me</button>
    <button class="xxs pd-12 pdx-2 outline-black">Click Me</button>
    <button class="xxs pd-12 pdx-2 secondary" onclick="showSuccessModal('Fault Job created !')">Click Me</button>
    <button class="xxs pd-12 pdx-2 logout">Click Me</button>
</div>

<br>

<div class="box full dfb column gap-10">
    <div class="box full pd-1 dfb">
        <input type="text" class="xxs pd-15 pdx-2 full mw-400" placeholder="First Name">
    </div>

    <div class="box full pd-1 dfb">
        <textarea name="description" id="description" class="xxs pd-15 pdx-2 full mw-400" placeholder="Description"></textarea>
    </div>
</div>

<div class="text-xxl full pd-1">Hello <i data-lucide="menu"></i></div>

<br>

<div class="box full dfb align-center gap-10">
    <div class="box fit dfb align-center gap-10">
        <div class="text-xxs visible-link">Dashboard</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap visible-link">Engineer</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap bold-600 accent-color">Dummy Engineer</div>
        <!-- <div class="text-xxs">/</div> -->
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <button class="xxs pd-12 pdx-2" onclick="showModal()">Click Me</button>
    <button class="xxs pd-12 pdx-2 delete" onclick="showFailedModal('Failed to create fault job.')">Click Me</button>
    <button class="xxs pd-12 pdx-2 outline-black">Click Me</button>
    <button class="xxs pd-12 pdx-2 secondary" onclick="showSuccessModal('Fault Job created !')">Click Me</button>
    <button class="xxs pd-12 pdx-2 logout">Click Me</button>
</div>

<br>

<div class="box full dfb column gap-10">
    <div class="box full pd-1 dfb">
        <input type="text" class="xxs pd-15 pdx-2 full mw-400" placeholder="First Name">
    </div>

    <div class="box full pd-1 dfb">
        <textarea name="description" id="description" class="xxs pd-15 pdx-2 full mw-400" placeholder="Description"></textarea>
    </div>
</div>